body {
  background: url(./images/free-casino-table-cloth-texture-1637741-1280x1280.jpg) repeat center center fixed;
  margin: 2rem auto 2rem auto;
  font-family: 'Lobster', cursive;
  width: 84rem;
  height: 64rem;
  border: 1rem solid hsla(22, 57%, 24%, 0.986);
  border-radius: 4rem;
  padding: 3rem;
}

.app {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 60rem;
  height: 60rem;
  /* border: 4px solid grey; */
}

.banner {
  font-size: 4rem;
  color:rgb(254, 255, 190);
  /* border: 1px solid grey; */
}

.outcome {
  z-index: 2;
  position: absolute;
  top: 20rem;
  font-size: 20rem;
  opacity: 0.5;
  color: red;
  transform: rotate(-30deg);
  /* border: 1px solid grey; */
}

.dealer-points {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color:rgb(254, 255, 190);
  border: 3px solid grey;
  padding: 1rem;
  border-radius: 0.5rem;
}

.dealer-area {
  margin: 1rem auto 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 60rem;
  height: 15rem;
  /* border: 1px solid grey; */
}

.player-points {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color:rgb(254, 255, 190);
  border: 3px solid grey;
  padding: 1rem;
  border-radius: 0.5rem;
}

.player-area {
  margin: 1rem auto 1rem auto;
  display: grid;
  grid-template: repeat(5, 20%) / repeat(5, 20%);
  width: 60rem;
  height: 15rem;
  /* border: 1px solid grey; */
}

.player-cards {
  grid-row: 1/  5;
  grid-column: 1/  6;
  /* border: 1px solid grey; */
}

.card {
  margin: 5px;
  /* border: 1px solid grey; */
  height: 15rem;
}

.buttons {
  grid-row: 5/ 6;
  grid-column: 2/ 5;
  margin: 1rem auto;
  width: 30rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid grey; */

}

.hit {
  height: 4rem;
  width: 7rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem grey;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  cursor: pointer;
}

.deal {
  height: 4rem;
  width: 7rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem grey;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  cursor: pointer;
}

.stand {
  height: 4rem;
  width: 7rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem grey;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  cursor: pointer;
}

.dealer-back {
  position: absolute;
  z-index: 1;
  margin: 5px;
  /* border: 1px solid grey; */
  height: 15rem;
}

.hidden {
  opacity: .025;
}

.form {
  background-color: gainsboro;
  margin: 3rem auto 3rem auto;
  height: 8rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 4px outset grey;
  border-radius: 1rem;
}

.welcome {
  font-size: 1.5rem;
}

input {
  margin: 0.25rem 0.5rem;
}